.names {
    text-align: center;
    margin-top: 5%;
    color: #EEE1B3
}

li {
    display: inline-block;
    list-style-type: none;
    color: #EEE1B3;
    text-align: center;
    margin: 2%;
    padding: 10px;
    background-color: #2F394D
}

h1 {
    margin: auto;
    text-align: center;
    background-color: #330036;
    padding: 10px;
    color: white
}

body {
    background-color: #56666B
}

img {
    width: 200px;
    height: 200px;
}